<!DOCTYPE html>
<html>
<head>
<%- include('./partials/author-nav'); %>
<%- include('./partials/metadata'); %>   
	<title>Settings Page</title>
	<link rel="stylesheet" href="/css/settings.css">
</head>
<body>
	<div class="container">
		<h1>Settings Page</h1>
		<form id="settings-form" method="POST" action="/author/update-settings">
			<label for="blog-title">Blog Title:</label>
			<input type="text" id="blog-title" name="title" value="<%=settings.title%>" required>
			<br><br>
			<label for="subtitle">Subtitle:</label>
			<input type="text" id="subtitle" name="subtitle" value="<%=settings.subtitle%>" required>
			<br><br>
			<label for="author-name">Author Name:</label>
			<input type="text" id="author-name" name="author" value="<%=settings.author%>" required>
			<br><br>
			<button type="submit">Update Settings</button>
		</form>
		<button class="back-button"><a href="/author/author-home">Back to Author Home Page</a></button>
	</div>
</body>
</html>

