<html>
<head>
  <%- include('./partials/header'); %>
  <%- include('./partials/metadata');%>
  <link rel="stylesheet" href="/css/home.css">
</head>
<body>
<br>
<div class="blog-information">
  <h1>Blog title: <%=settings.title%></h1>
  <h2>Blog Author: <%=settings.author%></h2>
</div>
  <div class="blog-container">
    <h2><strong>DashBoard Page</strong></h2>
    <ul class="article-list">
      <% if (posts.length === 0 || !posts.some(post => post.status === 'published')) { %>
        <li>
          <p class="no-posts">No published posts to display.</p>
        </li>
      <% } else { %>
        <% posts.forEach(function(post) { %>
          <% if (post.status === 'published') { %>
            <li>
              <a href="/view-post/<%=post.id%>">
                <p class="title" style="color: black;"><%=post.title%></p>
              </a>
              <p class="subtitle"><%= post.subtitle %></p>
              <br>
              <p class="content"><%= post.content %></p>
              <button class="like"><img src="/assets/heart.svg"><%= post.likes %></button>
              <button class="dislike"><img src="/assets/heart-crack.svg"><%= post.dislikes %></button>
              <button class="dislike"><img src="/assets/eye-svgrepo-com.svg"><%= post.Views %></button>
              <p class="Time-Created">Published at <%= post.publishedAt%></p>
            </li>
          <% } %>
        <% }) %>
      <% } %>
    </ul>
  </div>
  <a href="javascript:void(0)" class="back-to-top">
    <span class="border-white"></span>
  </a>
</body>
<footer> 
  <%- include('./partials/footer'); %>   
</footer>
</html>